body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4ff;
}

.container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.titlee {
    margin-bottom: 20px;
    text-align: center;
}
.button-container {
    display: flex;
    gap: 10px;
}
.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.welcome-section {
    background-color: #d8eefe;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-section img {
    width: 300px;
}

.login-section {
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.login-section h2 {
    margin: 0 0 10px;
}

.login-section p {
    margin: 0 0 20px;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot a {
    color: #007bff;
    text-decoration: none;
}

.login-section button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}


.social-login {
    display: flex;
    justify-content: space-between;
}

.social-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.fb {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.google {
    background-color: #db4437;
}

.button-container {
    display: flex;
    gap: 10px;
}
.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}